* {
    background-color: lightskyblue;
  }

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    margin: auto;
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.div-img {
    display: flex;
    justify-content: center;
    margin: auto;
  }

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 25px 0px 25px 15px;
}

span{
    font-weight: bold;
    text-decoration: underline;
    margin: auto;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 7px 0px 7px 20px;
}

button {
    background-color: lightblue ;
    border-width: 1px;
    border-color: blue;
    border-radius: 30%;
    border-style:solid;
}

h4 {
    text-align:center;
}

a:hover {
    background-color:aquamarine;
}

/* probado, ok */
